@import url('colors.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, sans-serif;
}

.html-body-conf {
    height: 100%;
    margin: 0;
    scrollbar-gutter: stable;
}

.body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.bi-check-all {
    font-size: 1.2rem;
}

::-webkit-scrollbar {
    width: 0;
}

.header {
    background: linear-gradient(135deg, hsl(209 100% 40%), hsl(209 100% 50%));
    color: #fff;
    padding: 2rem 1rem;
    text-align: center;
}

.header__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    max-width: 960px;
    margin: 0 auto;
}

.header__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.header__icon {
    width: 120px;
}

.header__title {
    font-size: 1.8rem;
    font-weight: bold;
}

.header__subtitle {
    margin-top: 1rem;
    font-size: 1.1rem;
}

.header__badge {
    margin-top: 0.5rem;
    background-color: var(--branco-padrao-80);
    color: var(--azul-prefeitura);
    padding: 0.3rem 0.8rem;
    border-radius: 4px;
    font-weight: bold;
}

.main {
    padding: 2rem 1rem;
    max-width: 1400px;
    margin: 0 auto;
    flex: 1;
}

.main__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.main__title {
    font-size: 1.5rem;
    font-weight: 600;
}

.main__dashboard-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.6rem;
    padding: 0.4rem 1.2rem;
    border: 1px solid var(--preto-padrao-9);
    cursor: pointer;
    background-color: var(--branco-padrao-80);
    text-decoration: none;
    color: var(--preto-padrao);
    border-radius: 6px;
    transition: all 0.1s ease-in-out;
}

.main__dashboard-button:hover {
    background-color: var(--preto-padrao-9);
}

.main__dashboard-button:active {
    transform: scale(0.95);
}

.companies {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 1.5rem;
}

.company-card {
    background-color: var(--branco-padrao);
    border: 1px solid #ddd;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0 1px 3px hsl(0 0% 0% / .12), 0 1px 2px hsl(0 0% 0% / .24);
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.company-card__header {
    padding: 1rem;
}

.company-card__title {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.company-card__image {
    width: 100%;
    height: 128px;
    object-fit: cover;
    border-radius: 4px;
    border: 2px solid rgba(0, 0, 0, 0.09);
}

.company-card__content {
    padding: 0.3rem 1rem;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
}

.company-card__description {
    font-size: 0.95rem;
    height: 90px;
    overflow-y: auto;
    padding-right: 4px;
    word-break: break-all;
    text-align: justify;
    color: var(--preto-padrao-50);
}

.company-card__description::-webkit-scrollbar {
    width: 6px;
}
.company-card__description::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 3px;
}
.company-card__description::-webkit-scrollbar-track {
    background: transparent;
}

.company-card__cnpj {
    font-size: 0.8rem;
    margin-bottom: 1rem;
    color: var(--preto-padrao-50);
    font-family: "Consolas 400", monospace;
}

.bi-file-earmark-text {
    font-size: 1rem;
}

.company-card__vote-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;

    padding: 0.2rem 1rem;
    background-color: #3366cc;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    align-self: flex-end;
}

.bi-building-fill {
    color: var(--azul-prefeitura);
}

.company-card__vote-button:disabled {
    background-color: #999;
    cursor: not-allowed;
}

.instructions {
    margin: auto auto 2rem;
    background: #eee;
    padding: 1rem;
    border-radius: 4px;
    font-size: 0.9rem;
    max-width: 672px;
    color: #646464;
}

.footer {
    background-color: #f1f1f1;
    padding: 1.5rem 1rem;
    text-align: center;
    color: #555;
}

.footer__title {
    font-size: 0.85rem;
}

.footer__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    font-size: 0.9rem;
    font-weight: 500;
}

.footer__container {
    max-width: 960px;
    margin: 0 auto;
}

.footer__icon {
    width: 20px;
}

.footer__mail-icon {
    width: 12px;
    height: 12px;
}

.footer__contact {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
    font-size: 0.75rem;
    margin-top: 0.75rem;
    color: #777;
}

.footer__copyright {
    font-size: 0.8rem;
    margin-top: 0.5rem;
    color: #777;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-in-card {
    opacity: 0;
    animation: fadeInUp 0.3s ease-in-out forwards;
}
