* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.identity-background {
    background-color: #ebf0f3;
}

#body-grid {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "header"
        "main"
        "footer";
    height: 100vh;
}

.body-top {
    padding-top: 75px;
}

.form-wrapper {
    padding: 15px;
}

.form-signin input[type="text"], input[type="password"] {
    margin-bottom: 15px;
}

.link {
    text-decoration: none;
    font-size: 0.9rem;
    color: #337ab7;
}

.form-signin {
    background: #ffffff;
    border: #cccccc solid 1px;
    border-radius: 5px;
    box-shadow: 0 0 0.5em #bbb;
    padding: 10px;
    min-height: 205px;
}

.navbar-toggler {
    color: white;
}

.navbar-brand-title {
    color: #FFF;
    padding-left: 5px;
}

.navbar-pje {
    background: #0073c9;
    color: #fff;
}

.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.nav-center {
    display: flex;
    width: 55vw;
    align-items: center;
    justify-content: space-between;
}

#userNav {
    display: flex;
    justify-content: end;
    gap: 0.6rem;
    width: 270px;
    max-width: 270px;
    height: 45px;
}

#userNav span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    align-self: center;
    font-size: 1rem;
    font-weight: 500;
}

.align-center {
    display: flex;
    align-items: center;
}

.nav-icons {
    font-size: 1.4rem;
    font-weight: bolder;
}

#botoesOpcao {
    display: flex;
    align-items: center;
    gap: 0.1rem;
}

main {
    grid-area: main;
    background-color: #f1f1f1;
}

footer {
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    font-size: 0.7em;
    gap: 15px;
}

.btn.btn-primary {
    color: #fff;
    background: #0079d5;
}

.btn.btn-primary,
.btn.btn-danger{
    border: 0px solid transparent;
    box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.239216) 0px 1px 4px;
    transition: all .4s ease-in-out;
}

.btn.btn-danger {
    color: #fff;
    background-color: #e53331;
}

.container-padrao {
    min-width: 350px;
    width: 35vw;
    height: 72vh;
    box-shadow: 0 3px 6px 3px #00000029;
    background-color: white;
    border-radius: 9px;
    padding: 15px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 286px); /* colunas de largura fixa */
    justify-content: space-between; /* centraliza as colunas no grid */
    gap: 2rem;
    align-content: start;
}

#versionInfo {
    color: rgba(0, 0, 0, 0.56);
    font-family: sans-serif;
}

.scrollbar-container {
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: dimgrey white;
}

.opcao-imagem {
    min-width: 120px;
    height: 120px;
    border-radius: 9px;
    background-color: gray;
}

@media (max-width: 512px) {
    .container-padrao, .nav-center {
        width: 95vw;
    }

    .nav-center {
        justify-content: center;
        text-align: center;
        flex-direction: column;
    }

    #brasaoNav {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #userNav, #linksNav {
        display: none;
    }
}

@Media(max-width: 746px) {
    .grid-container {
        justify-content: center;
    }
}

@media (min-width: 513px) and (max-width: 767px) {
    .container-padrao, .nav-center {
        width: 85vw;
    }

    .nav-center {
        justify-content: center;
        text-align: center;
        flex-direction: column;
    }

    #brasaoNav {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #userNav, #linksNav {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .container-padrao, .nav-center {
        width: 85vw;
    }

    #brasaoNav {
        font-size: 0.9rem;
    }

    #userNav {
        display: none;
    }
}

@media (min-width: 1024px) and (max-width: 1439px) {
    .container-padrao, .nav-center {
        width: 75vw;
    }

    #brasaoNav {
        font-size: 1rem;
    }
}

@media (min-width: 1440px) and (max-width: 1919px) {
    .container-padrao, .nav-center {
        width: 65vw;
    }

    #brasaoNav {
        font-size: 1rem;
    }
}

@media (min-width: 1920px) {
    .container-padrao, .nav-center {
        width: 55vw;
    }

    #brasaoNav {
        font-size: 1rem;
    }
}

@media (min-width: 768px) {
    .navbar-expand-md {
        flex-wrap: nowrap;
        justify-content: flex-start;
    }
}

nav {
    display: block;
    unicode-bidi: isolate;
}

#telaDeCarregamento {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 1;
    display: flex;
    background-color: whitesmoke;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.overrides {
    --transition__duration: 1s;
    --transition__delay: 0.75s;
}

.card-img-top {
    width: 250px;
    height: 250px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
    object-fit: fill;
}

.votos-widget {
    background-color: #b8b8b8;
    width: 85px;
    border-radius: 100px;
    text-align: center;
    padding-right: 6px;
    font-size: 0.75rem;
    font-weight: bold;
}


.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f1f1f1;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 72vh;
    width: 550px;
    background-color: white;

    box-shadow: 0 0 6px 6px #00000029;
    border-radius: 12px;
    padding: 20px;
}