<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{dashboard}" lang="br">
<script layout:fragment="scripts" type="module" th:src="@{/assets/js/empresas/main.js}"></script>
<body>
<main layout:fragment="content">
        <div class="dataTable__container">
            <div class="dataTable__header">
                <div class="dataTable__left-content">
                    <span>Lista de Empresas</span>
                    <form method="get" th:action="@{/dashboard/empresas}">
                        <input class="form-control" type="search" placeholder="Pesquisar Empresa" aria-label="Search" name="search" th:value="${search}">
                    </form>
                </div>
                <div class="dataTable__right-content">
                    <span>Mostrar <i class="bi bi-caret-down"></i></span>
                    <span>Filtrar <i class="bi bi-filter"></i></span>
                    <div>
                        <button type="button" class="dataTable__button" data-bs-toggle="modal" data-bs-target="#modalAddOption">
                            + Nova Empresa
                        </button>
                    </div>
                    <div>
                        <button class="dataTable__button">Exportar</button>
                    </div>
                </div>
            </div>
            <table class="dataTable">
                <thead class="dataTable__thead">
                <tr>
                    <th>Logo</th>
                    <th style="width: 20%;">Nome</th>
                    <th>CNPJ</th>
                    <th>Status</th>
                    <th style="width: 10%"></th>
                </tr>
                </thead>
                <tbody class="dataTable__body" id="tabelaEmpresas" style="max-height: 700px">
                <tr th:each="empresa : ${empresas}">
                    <td>
                        <img th:src="@{${empresa.getFilePath}}" class="dataTable__image" alt="logo">
                    </td>
                    <td style="width: 20%; word-break: break-all;" th:text="${empresa.nome}"></td>
                    <td th:text="${empresa.cnpj}"></td>
                    <td>
                        <div th:if="${empresa.isAtivo()}" class="dataTable__status dataTable__status--true">Ativo</div>
                        <div th:if="${!empresa.isAtivo()}" class="dataTable__status dataTable__status--false">Inativo</div>
                    </td>
                    <td style="width: 10%">
                        <div class="dataTable__actions">
                            <form method="post" th:action="@{/status/change/{id}(id=${empresa.getId()})}">
                                <button type="submit" class="dataTable__action-button">
                                    <i th:if="${empresa.isAtivo()}" class="bi bi-ban"></i>
                                    <i th:if="${!empresa.isAtivo()}" class="bi bi-check2"></i>
                                </button>
                            </form>
                            <button type="button" class="dataTable__action-button" data-bs-toggle="modal" th:attr="data-bs-target='#modalEdit' + ${empresa.getId()}">
                                <i class="bi bi-pencil"></i>
                            </button>
                            <button type="button" class="dataTable__action-button" data-bs-toggle="modal" th:attr="data-bs-target='#modalDelete' + ${empresa.getId()}">
                                <i class="bi bi-trash"></i>
                            </button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    <div th:each="empresa : ${empresas}">
        <div th:fragment="~{/fragments/card::empresaCard (${empresa}, false)}"></div>
        <div class="modal fade" th:id="'modalDelete' + ${empresa.getId()}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalDeleteDropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header fs-3">
                        Deseja realmente excluir esta opção ?
                    </div>
                    <div class="modal-footer">
                        <form th:action="@{/delete/{id}(id=${empresa.getId()})}" method="post">
                            <button type="submit" class="btn btn-danger">Excluir</button>
                            <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cancelar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" th:id="'modalEdit' + ${empresa.getId()}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalEditDropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" th:id="modalEditDropLabel + ${empresa.id}">Editar empresa</h5>
                    </div>
                    <div class="modal-body">
                        <form th:action="@{/update/{id}(id=${empresa.getId()})}" method="post" enctype="multipart/form-data" class="modalEmpresaEdit">
                            <div>
                                <label th:for="nameModalEdit + ${empresa.id}" class="form-label">Nome da Empresa *</label>
                                <input minlength="3" type="text" name="nome" th:value="${empresa.nome}" class="form-control" th:id="nameModalEdit + ${empresa.id}" placeholder="Insira o nome da empresa" aria-describedby="nome empresa">
                            </div>
                            <div>
                                <label th:for="cnpjModalEdit + ${empresa.id}" class="form-label">CNPJ *</label>
                                <input maxlength="18" type="text" name="cnpj" th:value="${empresa.cnpj}" class="form-control" th:id="cnpjModalEdit + ${empresa.id}" placeholder="00.000.000/0000-00" aria-describedby="cnpj empresa">
                            </div>
                            <div>
                                <label th:for="descricaoModalEdit + ${empresa.id}" class="form-label">Descrição</label>
                                <textarea  maxlength="200" class="form-control" th:id="descricaoModalEdit + ${empresa.id}" th:text="${empresa.descricao}" rows="3" style="resize: none; height: 120px;" name="descricao"></textarea>
                            </div>
                            <div class="modalEmpresa__file-upload">
                                <label th:for="imageEdit + ${empresa.id}" class="modalEmpresa__file-label">
                                    <b>Clique para enviar</b>
                                    <input type="file"
                                           class="modalEmpresa__file-upload"
                                           th:id="imageEdit + ${empresa.id}"
                                           accept=".jpg, .jpeg, .png"
                                           name="foto"
                                           hidden
                                    >
                                </label>
                            </div>
                            <div class="modalEmpresa__button-container">
                                <button type="button" class="modalEmpresa__button modalEmpresa__button-cancelar" data-bs-dismiss="modal">Cancelar</button>
                                <button type="submit" class="modalEmpresa__button modalEmpresa__button-confirmar">Confirmar Edição</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade modal-xl" id="modalAddOption" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalAddOptionDropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body" style="padding: 0">
                        <div class="modalEmpresa__content">
                            <div class="modalEmpresa__formulario-container">
                                <form th:action="@{/create}" method="post" enctype="multipart/form-data" id="formNovaEmpresa">
                                    <div>
                                        <label for="nameModalAdd" class="form-label">Nome da Empresa *</label>
                                        <input required minlength="3" type="text" name="nome" class="form-control" id="nameModalAdd" placeholder="Insira o nome da empresa" aria-describedby="nome empresa">
                                    </div>
                                    <div>
                                        <label for="cnpjModalAdd" class="form-label">CNPJ *</label>
                                        <input required maxlength="18" type="text" name="cnpj" class="form-control" id="cnpjModalAdd" placeholder="00.000.000/0000-00" aria-describedby="cnpj empresa">
                                    </div>
                                    <div>
                                        <label for="descricaoModalAdd" class="form-label">Descrição</label>
                                        <textarea class="form-control" id="descricaoModalAdd" rows="3" style="resize: none; height: 120px;" name="descricao"></textarea>
                                    </div>
                                    <div class="modalEmpresa__file-upload" id="dragContainer">
                                        <label for="imageAdd" class="modalEmpresa__file-label" id="dragArea">
                                            <b>Clique para enviar</b> ou arraste e solte <br/> PNG, JPG ou JPEG  (max. 800x400px)
                                            <input type="file"
                                                   class="modalEmpresa__file-upload"
                                                   id="imageAdd"
                                                   accept=".jpg, .jpeg, .png"
                                                   name="foto"
                                                   hidden
                                            >
                                        </label>
                                    </div>
                                    <div class="modalEmpresa__button-container">
                                        <button type="button" class="modalEmpresa__button modalEmpresa__button-cancelar" data-bs-dismiss="modal">Cancelar</button>
                                        <button type="submit" class="modalEmpresa__button modalEmpresa__button-confirmar">Confirmar</button>
                                    </div>
                                </form>
                            </div>
                            <div class="modalEmpresa__preview-container">
                                <div class="modalEmpresa__preview-content">
                                    <div class="company-card" id="company-2" style="width: 80%;">
                                        <div class="company-card__header">
                                            <h3 class="company-card__title"><i class="bi bi-building-fill"></i> <span id="nomeEmpresa">Nome da Empresa</span></h3>
                                            <img alt="Logo Empresa" class="company-card__image" id="previewImage" th:src="@{/assets/images/no-image-background.png}" style="object-fit: contain; background-color: var(--preto-padrao-9)"/>
                                        </div>
                                        <div class="company-card__content">
                                            <p class="company-card__description" id="descricao">
                                                Especializada em gestão de benefícios corporativos com foco em vale alimentação e refeição, proporcionando facilidade e economia para empresas.
                                            </p>
                                            <p class="company-card__cnpj"><i class="bi bi-file-earmark-text"></i> CNPJ: <span id="cnpj">12.345.678/9101-12</span></p>
                                            <button class="company-card__vote-button"><i class="bi bi-check-all"></i> Votar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</main>
</body>
</html>
