<html lang="br" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<div class="card mb-3" th:fragment="opcaoContainer(empresa)">
    <div class="card-body d-flex flex-column flex-md-row justify-content-between align-items-center text-center text-md-start" >
        <div class="empresa-imagem">
            <img th:src="@{${empresa.getFilePath()}}" style="width: 100px; height: auto;">
        </div>
        <div class="mb-3 mb-md-0 px-md-3">
            <h5 class="card-title text-break fs-5" th:text="${empresa.nome}">Nome da Opcao</h5>
        </div>
        <div id="botoesOpcao">
            <button class="btn btn-primary text-nowrap" th:attr="data-bs-target='#modalInformativeToggle' + ${empresa.getId()}" data-bs-toggle="modal"><i class="bi bi-check2"></i> Votar</button>
            <div class="dropdown" sec:authorize="hasRole('ADMIN')">
                <button class="btn btn-light" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi bi-three-dots-vertical"></i>
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <button type="button" class="dropdown-item" data-bs-toggle="modal" th:attr="data-bs-target='#modalDelete' + ${empresa.getId()}">
                            Excluir
                        </button>
                    </li>
                    <li>
                        <button type="button" class="dropdown-item" data-bs-toggle="modal" th:attr="data-bs-target='#modalEdit' + ${empresa.getId()}">
                            Editar
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="modal fade" th:id="'modalInformativeToggle' + ${empresa.getId()}" aria-hidden="true" aria-labelledby="modalInformativeToggleLabel" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header justify-content-center bg-light">
                    <div class="w-100 text-center">
                        <i class="bi bi-exclamation-circle fs-1"></i>
                        <p class="modal-title fs-3 fw-semibold">Leia com Atenção</p>
                    </div>
                </div>
                <div class="modal-body text-center">

                    <div class="alert alert-light" role="alert">
                        Ao confirmar o seu voto, você estará a concordar que a empresa <span th:text="${empresa.nome}" class="fw-semibold fst-italic"></span> será a provedora do
                        seu vale-alimentação.
                    </div>
                        <p class="fst-italic fw-lighter">
                            Seu voto não poderá ser alterado
                        </p>
                    <form th:action="@{/votar/{opcaoId}(opcaoId=${empresa.getId()})}" method="post" >
                        <button type="submit" class="btn btn-dark w-50">Confirmar Voto</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modalSuccessToggle" aria-hidden="true" aria-labelledby="modalSuccessToggleLabel" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header justify-content-center bg-success">
                    <div class="w-100 text-center">
                        <i class="bi bi-check-circle fs-1 text-white"></i>
                        <p class="modal-title fs-3 fw-semibold text-white" id="modalSuccessToggleLabel">Parabéns! Voto Confirmado!</p>
                    </div>
                </div>
                <div class="modal-body text-center">
                    <div class="alert alert-info fw-semibold" role="alert">
                            Caso a empresa recuse a proposta, haverá uma segunda votação ou seu voto será transferido para uma das empresas
                            mais votadas.
                    </div>

                    <p class="fst-italic fw-light">
                        Para mais informações, entre em contato com o setor de licitações.
                    </p>

                    <button class="btn btn-success w-25" data-bs-toggle="modal">Ok</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" th:id="'modalEdit' + ${empresa.getId()}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalEditDropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalEditDropLabel">Editar empresa</h5>
                </div>
                <div class="modal-body">

                    <form th:action="@{/update/{id}(id=${empresa.getId()})}" method="post" enctype="multipart/form-data">
                        <div class="mb-3">
                            <label for="nameEdit" class="form-label">Nome da Empresa</label>
                            <input required minlength="3" type="text" name="nome" class="form-control" id="nameEdit" placeholder="Insira o nome da empresa" aria-describedby="Name Edit">
                        </div>
                        <div class="form-group">
                            <input type="file"
                                   class="form-control-file mt-2"
                                   accept=".jpg, .jpeg, .png"
                                   name="foto">
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Editar</button>
                            <button type="button" class="btn btn-light" data-bs-dismiss="modal">Fechar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" th:id="'modalDelete' + ${empresa.getId()}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalDeleteDropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header fs-3">
                    Deseja realmente excluir esta opção ?
                </div>
                <div class="modal-footer">
                    <form th:action="@{/delete/{id}(id=${empresa.getId()})}" method="post">
                        <button type="submit" class="btn btn-danger">Excluir</button>
                        <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cancelar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</html>