<!DOCTYPE html>
<html lang="br" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="~{fragments/head::head}">
</head>
<body class="dashboard">
    <div class="navbar__container">
        <div class="navbar__header">
            <img class="navbar__image" th:src="@{/assets/images/brasao_itapura.png}" alt="brasão">
            <span class="navbar__title">Administração</span>
        </div>
        <div class="navbar__navigation">
            <a href="/dashboard/empresas"
               class="navbar__button navbar__button--hover"
               th:classappend="${currentPath.contains('empresas')} ? ' navbar__button--active' : ''"
               aria-label="Empresas">
                <i class="bi bi-building-fill"></i>Empresas
            </a>
            <a href="/dashboard/usuarios"
               class="navbar__button navbar__button--hover"
               th:classappend="${currentPath.contains('usuarios')} ? ' navbar__button--active' : ''"
               aria-label="Usuários">
                <i class="bi bi-people-fill"></i>Usuários
            </a>
            <a href="/dashboard/votacao"
               class="navbar__button navbar__button--hover"
               th:classappend="${currentPath.contains('votacao')} ? ' navbar__button--active' : ''"
               aria-label="Votação">
                <i class="bi bi-clipboard-data-fill"></i>Votação
            </a>
            <a href="/dashboard/relatorios"
               class="navbar__button navbar__button--hover"
               th:classappend="${currentPath.contains('relatorios')} ? ' navbar__button--active' : ''"
               aria-label="Atividade">
                <i class="bi bi-folder-fill"></i>Relatórios
            </a>
            <a href="/dashboard/ajuda"
               class="navbar__button navbar__button--hover"
               th:classappend="${currentPath.contains('ajuda')} ? ' navbar__button--active' : ''"
               aria-label="Ajuda">
                <i class="bi bi-info-circle-fill"></i>Ajuda
            </a>
        </div>
        <div class="navbar__system-actions">
            <a href="/" class="navbar__button navbar__button--action"><i class="bi bi-house-door"></i>Home</a>
            <form th:action="@{/logout}" method="post">
                <button class="navbar__button navbar__button--action"><i class="bi bi-box-arrow-left"></i>Log out</button>
            </form>
        </div>
    </div>

    <main layout:fragment="content" class="dashboard__content">
    </main>

    <div class="modal fade" id="modalErrorToggle" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header bg-danger text-white justify-content-center">
                    <div class="w-100 text-center">
                        <i class="bi bi-x-circle fs-1 text-white"></i>
                        <p class="modal-title fs-3 fw-semibold text-white">Essa não! Algo deu errado!</p>
                    </div>
                </div>
                <div class="modal-body text-center">
                    <div class="alert alert-danger fw-semibold" role="alert" id="errorModalMessage">
                    </div>
                    <button class="btn btn-danger w-50" data-bs-toggle="modal">Compreendo</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalSuccessToggle" aria-hidden="true" aria-labelledby="modalSuccessToggleLabel"
         tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header justify-content-center bg-success">
                    <div class="w-100 text-center">
                        <i class="bi bi-check-circle fs-1 text-white"></i>
                        <p class="modal-title fs-3 fw-semibold text-white" id="modalSuccessToggleLabel">Sucesso!</p>
                    </div>
                </div>
                <div class="modal-body text-center">
                    <div class="alert alert-info fw-semibold" role="alert" id="successMessage">
                    </div>
                    <p class="fst-italic fw-light" id="informativeMessage">
                    </p>
                    <button class="btn btn-success w-50" data-bs-toggle="modal">Ok</button>
                </div>
            </div>
        </div>
    </div>

    <script layout:fragment="scripts"></script>
</body>
</html>