<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-BR">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" type="text/css" href="classpath:static/assets/css/PdfTemplateStyle.css" media="all" />
</head>
<body>

<h1>Relatório de Votos</h1>

<div th:each="opcao : ${opcoes}">
    <div id="page-break"></div>

    <div id="option-header">
        <table>
            <tr>
                <td id="empresa-header">
                    <img src="src/main/resources/static/assets/images/brasao_itapura.png" width="90" height="90" alt="logo empresa"/>
                    <p>
                        <span th:text="${opcao.nome}"></span>
                    </p>
                </td>
                <td id="votos-header" th:text="${opcao.getFuncionarios().size()} + ' Votos'"></td>
            </tr>
        </table>
    </div>

    <table>
        <tr>
            <th id="matricula">MATRÍCULA</th>
            <th id="servidor">SERVIDOR</th>
            <th id="cargo">CARGO/FUNÇÃO</th>
        </tr>
        <tr th:each="funcionario : ${opcao.funcionarios}">
            <td th:text="${funcionario.getMatricula()}"></td>
            <td th:text="${funcionario.nome}"></td>
            <td th:text="${funcionario.getCargo()}"></td>
        </tr>
    </table>
</div>
</body>
</html>
