<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout::layout(~{::content})}">
<div th:fragment="content" class="h-100 m-auto shadow-none bg-transparent container-padrao scrollbar-container wipe-in-left">

    <div style="margin-bottom: 1rem; display: flex; align-items: center; gap: 1rem;">
        <input type="text" placeholder="Pesquisar empresa..." style="width: 100%; padding: 8px; border-radius: 5px; border: 1px solid #ccc;">
        <form th:action="@{/relatorio/geral}" method="get">
            <button type="submit" class="btn btn-primary" style="text-wrap: nowrap; padding: 9px;">Relatório geral</button>
        </form>
    </div>

    <div class="grid-container">
        <div th:each="opcao : ${opcoes}">
            <div th:replace="~{fragments/opcaoRelatorio::opcao(${opcao})}"></div>
        </div>
    </div>

</div>
</html>
